<html ng-app="desafio">
	<head>
		<title>
			Desafio
		</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">	
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-messages.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/desafioCtrl.js"></script>
	</head>
	<body ng-controller="desafioCtrl">
		<div class="container">
			<div class="bloco-contato">
				<div class="col-sm-3 filtro">
					<a class="filtro__button" href="" ng-click="ordenarPor('nome')">Ordenar Nome</a>
					<a class="filtro__button" href="" ng-click="ordenarPor('data')">Ordenar Nascimento</a>
					<a class="filtro__button" href="" ng-click="criterioBusca='masculino'">Filtrar Homens</a>
					<a class="filtro__button" href="" ng-click="criterioBusca='feminino'">Filtrar Mulheres</a>
				</div>
				<div class="col-sm-9 form">
					<h3 ng-bind = "app"></h3>
					<input class="form-control" type="text" ng-model="criterioBusca" placeholder="O que você está buscando?">
					<table ng-show="contatos.length > 0" class="table table-striped">
						<tr>
							<th>Nome</th>
							<th>Data de Nascimento</th>
							<th>Sexo</th>
						</tr>
						<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca | orderBy:criterioOrdenacao:direcaoDaOrdenacao">
							<td>{{contato.nome | uppercase}}</td>
							<td>{{contato.data | date: 'dd/MM/yyyy'}}</td>
							<td ng-value="iconGender(contato.sexo.nome)" ng-model="gender">
								<icon ng-class="{ 'fa fa-mars': contato.sexo.nome == 'Masculino', 'fa fa-venus': contato.sexo.nome == 'Feminino'}" aria-hidden='true'></i></td>						
						</tr>
					</table>
					<button class="btn btn-primary btn-block form__add" ng-click="openForm=true">+ Adicionar</button>
					<form class="contatoForm" ng-show="openForm" name="contatoForm">
						<div class="row">
							<div class="col-sm-12">
								<label class="contatoForm__label">Nome</label>
								<input class="form-control contatoForm__field--first" type="text" ng-model="contato.nome" name="nome" ng-required="true" ui-date="dateOptions" placeholder="nome"/>
							</div>
							<div class="col-md-3 col-sm-6">
								<label class="contatoForm__label">Dt Nascimento</label>
								<input class="form-control contatoForm__field" type="date" ng-model="contato.data" name="data" ng-required="true"/>
							</div>
							<div class="col-md-3 col-sm-6">
								<label class="contatoForm__label">Sexo</label>
								<select class="form-control contatoForm__field--last" ng-model="contato.sexo" ng-options="sexo.nome for sexo in sexos">
									<option value="">Sexo</option>
								</select>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<button class="btn btn-danger btn-block contatoForm__field--button-cancel" ng-click="cancelarCadasro(contato)" ng-disabeld="!isContatoSelecionado(contatos)">Cancelar</button></div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<button class="btn btn-primary btn-block contatoForm__field--button-add" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Salvar</button></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>